<div>
    <div *ngFor="let boss of BossLoot">
        <h4>{{boss.name}}</h4>
        <table style="width: 100%">
            <tr *ngFor="let item of boss.loot">
                <td style="text-align: left;">{{item}}</td>
                <td style="text-align: left;">{{getValidRecipients(item)}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- <div class="players-container">
    <div class="players">
        <h4>Bis Tier</h4>
        <div class="queue">
            <div *ngFor="let player of BisTierQueue">{{player}}</div>
        </div>
    </div>
    <div class="players">
        <h4>Bis General</h4>
        <div class="queue">
            <div *ngFor="let player of BisGeneralQueue">{{player}}</div>
        </div>
    </div>
    <div class="players">
        <h4>Weapons</h4>
        <div class="queue">
            <div *ngFor="let player of WeaponQueue">{{player}}</div>
        </div>
    </div>
</div>

<nav>
    <label for="typeahead-basic">Item Lookup </label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="target" (ngModelChange)="update($event)"
        [ngbTypeahead]="search" />
</nav>

<div class="players-container">
    <div class="players">
        <h2>Need</h2>
        <player *ngFor="let player of players.needItem" [details]="player"></player>
    </div>
    <div class="players">
        <h2>Need (Alt)</h2>
        <player *ngFor="let player of players.needItemAlt" [details]="player"></player>
    </div>
    <div class="players">
        <h2>Have</h2>
        <player *ngFor="let player of players.haveItem" [details]="player"></player>
    </div>
    <div class="players">
        <h2>Current Raid</h2>
        <textarea [(ngModel)]="currentItems">

        </textarea>
    </div>
</div> -->