<p>main works!</p>

<input type="text" [(ngModel)]="target" (ngModelChange)="update($event)" />
<button (click)="showAll()">Show All</button>
<table>
    <tr>
        <th></th>
        <th>Player</th>
        <th>BIS</th>
        <th>Free</th>
        <th>Total</th>
        <th>Attendance</th>
    </tr>
    <tr *ngFor="let item of data" (click)="showPlayer(item.player)">
        <!-- [ngClass]="{ 'hasItem': item.hasItem }" -->
        <td><img *ngIf="item.hasItem" src="assets/img/favicon.ico" width="20" /></td>
        <td>{{ item.player }}</td>
        <td>{{ item.bis }}</td>
        <td>{{ item.free }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.attendance }}</td>
    </tr>
</table>

<div>
    <div>{{player}}</div>
    <table>
        <tr>
            <td>Item</td>
        </tr>
        <tr *ngFor="let item of playerLoot">
            <td>{{item.name}}</td>
        </tr>
    </table>
</div>